*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    margin: 0px;
    word-break: break-all;
    /* position: relative; */
}
/* body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  /* body {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  /* Firefox */
  /* }  */
/* Generic */
.lightpink{
    background-color: lightpink;
}
.lightblue{
    background-color: lightblue;
}
.lightgreen{
    background-color: lightgreen;
}
.black{
    background-color: black;
}
/* Toolbar */
.toolbar{
    /* position: absolute; */
    /* position: fixed; */
    height: 12vh;
    background-color: #444;
    display: flex;
    align-items: center;
    gap: 6rem;
    padding-left: 4rem;
}
.toolbar>*{
    border-radius: 4px;
}
.filter-container{
    height: 70%;
    width: 20%;
    background-color: rgb(85, 82, 82);
    /* border: 1px solid red; */
    /* margin-left: 4rem;
    margin-right: 6rem; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filter-colors__container{
    height: 100%;
    width: 25%;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-color{
    height: 30%;
    width: 50%;
    border-radius: 2px;
}
.filter-colors__container:hover{
    background-color: #606060;
}
.action-container{
    height: 70%;
    width: 10%;
    background-color: rgb(85, 82, 82);
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-evenly;
    align-items: center; */
    /* margin-right: 2rem; */
}
.action-container__icons{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fas,.fab{
    font-size:xx-large;
}
.fa{
    font-size: xx-large;
}

.fab.fa-github{
    /* color: #495057; */
    color: #212529;
}
.fas.fa-lock.help-cont,.fas.fa-unlock.help-cont{
    font-size: large;
}
.action-container__icons:hover{
    background-color: #606060;

}
.main-container{
    /* border: 5px solid red; */
    min-height: 88vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem;
    background-color:#FEFEFE;
    justify-content: space-around;
    
    gap: 4px;


    /* align-items: center; */
    /* background-color: whitesmoke;  */

    /* padding: 2rem; */
}

.modal_container{
    position: absolute;
    height: 18rem;
    left: calc((100vw - 30rem)/2);
    top: 25vh;
    width: 30rem;
    display: none;
    word-break: break-word;
    /* background-color: #444; */
    /* top:40vh;
    left: 40vh; */
}
.desc-box{
    height: 100%;
    width: 100%;
    padding: 2.2rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: grey;
    line-height: 120%;
}
.modal_task_container
{
    /* background-color: white; */
    width: 75%;
}
.modal_filter-container
{
    background-color: #444;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.modal_filters{
    width: 60%;
    height: 12%;
    border-radius: 15%;
}
.modal_box{
    background-color: #E9F2F1;
    font-weight: bold;
    font-size: larger;
    /* color: white; */
}
#circle {
    width: 50px;
    height:50px;
    /* background: red; */
    border-radius: 50%;
    text-align: center;
    padding-top: 0.8rem;
}
.allTasks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
}
.task{
    display: flex;
    height: 8rem;
    width: 14rem;
    background-color: white;
    flex-direction: column;
    margin-bottom: 2rem;
    border-radius: 7px;
}
.bgcolor{
    height: 10%;
    background-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius:4px; 
}
.id{
    height: 20%;
}
.text
{
    padding: 1rem;
    height:70%;
    background-color: white;
}
.border{
    border:2px solid white;
}


.ticker-container{
    height: 10rem;
    width: 15.5rem;
    /* margin-bottom: 2rem; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* background-color: white; */
    /* margin-left: 2rem; */
    /* margin-bottom: 2rem; */
    margin: 0 auto; 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    word-break: break-word;
    overflow: auto;


    /* width: 20%; */
    /* margin-left: 5%; */
    
}
.ticker-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .ticker-container {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
.ticket-color{
    height: 8%;
    /* background-color: black; */
}
.ticket_sub-container{
    padding-left: 1rem;
    font-family: sans-serif;
}
.ticket-id{
    color: lightslategrey;
    font-size: medium;
}
.task-desc{
    font-family: 'Merriweather', serif;
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
    height: 70%;
    overflow: auto;
    font-size: large;
}
.allTickets{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.small-container{
    min-width: 23%;
    background-color: #E9F2F1;
    /* border: 1px solid red; */
    border-radius: 1rem;
    /* border: 5px solid black; */
    /* border: 2px red; */
    /* background-color: red; */
}
.small-tool{
    width: 100%;
    height: 30px;
    /* background-color: #444444ab; */
    display: flex;
    align-items: center;
    border-radius: 1rem;
    /* font-family: 'EB Garamond', serif;
     */
    font-family: 'Noto Serif', serif;
    font-size: larger;
    font-weight: bold; 
/* font-family: 'Roboto Slab', serif; */
    /* padding-left: 1rem; */
}
.small-tool.black
{
    color: white;
}
.small-text{
    font-size: x-large;
    margin: 0 auto;
}
.small-tool-add{
    margin-left: 6rem;
}
.small-tool-add:hover{
    width: 10%;
    /* height: 100%; */
    background-color: #606060;
}
.icon{
    margin-left: 23rem;
    /* right: 1rem; */
    height: 2rem;
}
.help-container{
    background-color: #fff;
    position: absolute;
    /* font-family: 'Itim', cursive; */
    font-family: 'Roboto Mono', monospace;
    width: 28%;
    /* height: 70%; */
    /* top: 20vh;
    left: 151vh; */
    border-radius: 12px;
    top: 40px;
    right: 60px;
    word-wrap: normal;
    word-break: break-word;
    display: none;
}
.quote-container{
    position: absolute;
    width: 55%;
    height: 50%;
    top: 25%;
    background-color: black;
    color: white;
    word-break: break-word;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* background-image: url('Wp3.jpg'); */
}


.list1{
    display: flex;
}
.colorScheme{
    width: 2rem;
    height: 1rem;
    border-radius: 4px;
}


@media only screen and (max-width: 1100px)
{
    .ticker-container {
        width: 13.5rem;
    }
}

 @media only screen and (max-width: 1000px){
    .ticker-container{
        width: 11.5rem;
    }
} 

@media only screen and (max-width: 1000px){
    .toolbar{
        gap: 2rem;
    }
    .fas,.fa{
        font-size: x-large;
    }
} 

@media only screen and (max-width: 800px){
    .main-container{
        flex-direction: column;
    }
    .icon{
        display: none;
        margin-left: 20rem;
    }
    .toolbar{
        gap: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .main-container{
        flex-direction: column;
    }
    .toolbar{
        gap: 1rem;
    }
    .filter-container{
        height: 70%;
        width: 42%;
    }
    .action-container{
        height: 70%;
        width: 20%;
    }
    .modal_container{
        position: absolute;
        top: 25vh;
        height: 15rem;
        width: 18rem;
        left: calc((100vw - 18rem)/2);
    }
    .icon{
        display: none;
        /* margin-left: 5rem; */
    }
    .fas,.fa{
        font-size: large;
    }

}
